<div class="jumbotron">
</div>
<div class="container">


<h1 class='text-center'>New To do Item</h1>


<%= render 'form' %>

<%= link_to todo_items_path do %>
<span class='glyphicon glyphicon-arrow-left resize'></span>
<% end %>
</div>
