<div class="jumbotron">
</div>
<div class="container">


<p id="notice"><%= notice %></p>

<p class="edit">
  <strong>I want to </strong>
  <%= @todo_item.description %>
</p>

<%= link_to edit_todo_item_path(@todo_item) do %>
<span class='glyphicon glyphicon-pencil resize'></span>

<% end %>
<%= link_to todo_items_path do %>
<span class='glyphicon glyphicon-arrow-left resize'></span>

<% end %>
</div>
